<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body data-spy="scroll" data-target=".fixed-top">
        <!-- Navigation -->
        <%- include('./partials/navbar', {currentPage: 'home'}) %>
        <!-- end of navigation -->
    <h2>Saved Routes</h2>
    <% if (savedRoutes && savedRoutes.length > 0) { %>
        <ul>
            <% savedRoutes.forEach(route => { %>
                <li>
                    <h3><%= route.name %></h3>
                    <p><%= route.description %></p>
                    <p>Distance: <%= route.distance %> km</p>
                    <p>Duration: <%= route.duration %> mins</p>
                    <% if (route.tags && route.tags.length > 0) { %>
                        <p>Tags:
                            <%= route.tags.map(tag => tag.name).join(', ') %> <!-- Assuming tags have a name field -->
                        </p>
                    <% } %>
                    <% if (route.places && route.places.length > 0) { %>
                        <p>Places:
                            <%= route.places.map(place => place.name).join(', ') %> <!-- Assuming places have a name field -->
                        </p>
                    <% } %>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No saved routes found.</p>
    <% } %>
</body>
</html>


